$box-shadow: 0 3px 6px #0000002b;
$primary-color: rgba(219, 62, 62, 0.8);
$color-white-1: rgba(255, 255, 255);
$opacity-1: 0.8;
$opacity-2: 0.9;
$opacity-3: 0.5;

$bg-2: #1715253d;

.btn__toggle {
    display: none;
    color: $primary-color;
    font-size: 2rem;

    @media screen and ( max-width: 1024px ){
      display: flex;
    }
}

.activeMenu {
  right: 0;
}

.activeLink {
   font-size: 1.2rem;
   border-bottom: 2px solid $primary-color;
   color: $primary-color;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.activeLink#navLink {
  color: $primary-color;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10000;
    width: 100%;
    
    background-color: $bg-2;
 
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border: 1px solid $bg-2;
   
    .container {
      justify-content: space-between;

      .toggle-btn {
        display: flex;
        align-self: flex-end;
        width: 90px;
        display: none;
        font-size: 40px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }

        @media screen and ( max-width: 1024px ){
          display: flex;
          position: absolute;
          top: 40px;
          right: 20px;
          color: $color-white-1;
        }
      }
    }


    .logo {
       a {
        color: $color-white-1;
        opacity: $opacity-1;

      }

      a span {
        color: $primary-color;
        font-size: 4rem;
      }
    }

    .links__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 55%;

   
      .link {
 
        font-size: 18px;
        font-weight: 500;
   

        a {
          color: $color-white-1;
          opacity: $opacity-1;

          &:hover {
            color: $primary-color;
           
          }
        }
       }

       @media screen and (max-width: 1024px) {
         flex-direction: column;
         margin-top: 10%;
         width: 100%;
         padding-bottom: 1rem;
    
         gap: 2.5rem;

         .link {
          width: 80%;
          align-self: flex-start;
          font-size: 22px;
          padding: .5rem .2rem;

          &:hover {
            background-color: $bg-2;
            color: $color-white-1 !important;
          }
         }
       }
    }

    @media screen and (max-width: 1024px) {
      .links__container.set-false {
        display: none;
      }
    }
}